<div class="home">
  <h1>O que é CDB?</h1>
  <div class="text">
    O CDB (Certificado de Depósito Bancário) é um investimento de renda fixa
    bastante popular no Brasil. Funciona da seguinte forma: o investidor
    empresta dinheiro ao banco e, em troca, recebe juros sobre o valor
    investido. Essa taxa de juros pode ser pré ou pós-fixada, e o prazo de
    resgate varia de acordo com o contrato estabelecido. Uma das principais
    vantagens do CDB é a segurança, pois é garantido pelo Fundo Garantidor de
    Créditos (FGC) até determinado valor. Além disso, há opções com diferentes
    rentabilidades, prazos e instituições financeiras, permitindo ao investidor
    escolher de acordo com seu perfil e objetivos. O CDB é uma alternativa
    interessante para quem busca uma aplicação de baixo risco, com possibilidade
    de ganhos superiores à poupança. É importante, no entanto, estar atento às
    taxas cobradas e ao Imposto de Renda, que incide sobre os rendimentos. Em
    resumo, o CDB é uma modalidade de investimento de renda fixa oferecida pelos
    bancos, que proporciona segurança, possibilidade de ganhos e flexibilidade
    de escolha para o investidor.
  </div>
  <button
    mat-raised-button
    color="primary"
    (click)="navigateToCalculator()"
    routerLink="/calculator"
  >
    Simular Cálculo
  </button>
</div>
